{% extends "base.html" %}
{% block content %}

<h1>Create Task</h1>

<form method="post">

	<label>Title</label>
	<input type="text" name="title" value="{{ item.title }}" required>

	<label>Description</label>
	<textarea name="description" rows="4">{{ item.description or "" }}</textarea>

	<label>Due Date</label>
	<input type="datetime-local"
		   name="due_date"
		   value="{{ due_date_formatted or '' }}">

	<label>Recurring (optional)</label>
	<input type="text" name="recurring" value="{{ item.recurring or '' }}">

	<label>Priority</label>
	<input type="number" name="priority" value="{{ item.priority }}">

	<label>Status</label>
	<select name="status">
		<option value="todo" {% if item.status == "todo" %}selected{% endif %}>Pending</option>
		<option value="in_progress" {% if item.status == "in_progress" %}selected{% endif %}>In Progress</option>
		<option value="done" {% if item.status == "done" %}selected{% endif %}>Done</option>
	</select>

	<button class="btn" type="submit">Save</button>
</form>

{% endblock %}
